@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  @apply bg-secondary-100;
}

.primary-button {
  @apply border rounded-md bg-primary-500;
}

.actions-button {
  @apply rounded-md text-center text-lg bg-secondary-500 border border-primary-600 hover:bg-primary-600 shadow-primary-600 h-10 w-10;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.panel-body {
  @apply grid grid-cols-1 gap-5 items-center justify-between w-full bg-transparent p-2 rounded-md shadow-primary-600;
}

.bg-linear-gradient {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

/* For IE, Edge, Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.is-loading {
  position: relative;
  pointer-events: none;
  text-shadow: none;
  color: transparent;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  cursor: progress;
}

.is-loading:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.28571429rem;
  z-index: 100;
  opacity: 0.8;
  @apply bg-secondary-500;
}

.is-loading:after {
  content: '';
  position: absolute;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 30px solid #767676;
  border-bottom: 30px solid #767676;

  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  animation: spinner 0.6s linear infinite;
  z-index: 101;

  @apply border-y-primary-500;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes segment-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes segment-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
